{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owolabi Blog</title>
    <script src="https://kit.fontawesome.com/18de66c05e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>
<body>
    <!--------head menu-->
    <div class="row">
        <!----head menu-->
        <div class="col head-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>

        </div>
        <!----head menu-->
        <div class="col head-search">
            <form action="" method="get">
                <input type="search"><input type="submit" value="Search">
            </form>
        </div>
    </div>
    <!--------head menu-->

    <!---banner -->
 <div class="row">
        <div class="col logo">logo</div>
        <div class="col banner">banner</div>
    </div>
     <!---banner -->

<!--main menu-->
<div class="row">
    <div class="col menubar">

        <ul>
            <li><a href="{% url 'blog:index' %}"><i class="fa-solid fa-house">&nbsp;</i>Home</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Politic</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="{% url 'blog:Profile' %}">Acount</a></li>
            <li><a href="{% url 'blog:SignUp' %}">Sign Up</a></li>
        </ul>
    </div>
</div>
<!--main menu-->


<!--Articlewrappet-->
<div class="Article-wrapper">
    <!--- Article -->
<div id="Article">

<div class="row">
    <!--headkines-->
    <div class="col headlines">
        <!--headline row-->
        <div class="row">

        <!--headline-sub-right-->
        <div class="col headline-sub-right">
                <img src="lgo.png">
                <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
                <br/>
                <span>name Date</span>
        </div>
        <!--headline-sub-right-->

        <!--headline-sub-left-->
        <div class="col headline-sub-left">
            <div class="sub-left">
                <img src="me.png">
                <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
                <br/>
                <span>name Date</span>
            </div>

            <div class="sub-left">
                <img src="me.png">
                <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
                <br/>
                <span>name Date</span>
            </div>
        </div>
        <!--headline-sub-left-->
       
    </div>
    <!--headline in row-->
    <!--latest-->
    <p style="padding-left: 30px;">Latest Article</p>
    <hr class="ArtHlatest">
    <div class="col latest">
        <span><img src="w3css.gif" width="100" height="140" id="img">
            <br>
        <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
        <br>
        <br>
        <span><img src="w3css.gif" width="100" height="140" id="Auth-profile"> Author:Owolabi</span>
        <br>
        <br>
            This is some text. This is some text. This is some text.
            This is some text. This is some text. This is some text.
            This is some text. This is some text. This is some text.
            This is some text. This is some text. This is some text.
            <br>
            <br>
            <hr class="ArtH">
            <span>Comments</span> | <span>Date</span>
            </span>
            
       
    </div>
    <!--latest-->
    
    
    </div>
    <!--headkines-->

    <!--recentpost-->
    <div class="col recentpost">
        <!---post wrapper-->
        <div class="post-wrpper">
        <p>Recent Post</p>
        <div class="R-post">
            <img src="hrllo.png">
            <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
            <br/>
            <span style="padding: 20px;">Name Date</span>
        </div>
        <hr class="recent-hr">
        <div class="R-post">
            <img src="hrllo.png">
            <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
            <br/>
            <span style="padding: 20px;">Name Date</span>
        </div>
    </div>
  <!---post wrapper-->
    <!---dvante wrapper-->
        <div class="advert">
            <p>Advert</p>
            <div class="R-post">
                <img src="hrllo.png">
                <span style="padding: 20px; font-weight:bold;font-size:18px;">Title</span>
            <br/>
            <span style="padding: 20px;">Name Date</span>
            </div>
            <hr class="recent-hr">
        </div>
         <!---dvante wrapper-->
    </div>
    <!--recentpost-->
   


</div>

</div>
<!--Article-->
<div class="pagination-wrapper">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>

</div>
<!--Articlewrappet-->


<!--footer-->
<div class="footer"> 
<div class="row">
    <div class="col f-logo">
        <p style="font-style: oblique;font-weight:bold; font-size:25px;">Don't Miss Out</p>
        <p>Sign up for the latest More News</p>
        <form action="" method="post">
            <input type="email" name="" id="" placeholder="E-mail Address">
            <input type="submit" value="Subscribe">
        </form>
        <div class="myLinks">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="col f-Company">
        <p style="font-style: oblique;font-weight:bold">Company</p>
        <p>DevelopWithOwolabi.com</p>
    </div>
    <div class="col f-Contact">
        <p style="font-style: oblique;font-weight:bold">Contact Me</p>
        <p>Owolabidevelop@gmail.com</p>
        <p>+2348120385367</p>
    </div>

    <div class="col f-service">
        <p style="font-style: oblique;font-weight:bold">Our Service</p>
        <p>Web Developement</p>
        <p>Advertisement</p>
        <p>Blog</p>
    </div>
</div>
<div class="f-content">
    <p style="text-align: center; padding:2px">Develop by Owolabi Akintan CopyRight Reserved 2022</p>
</div>

</div>
<!--footer-->

</body>
</html>