{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owolabi Blog</title>
    <script src="https://kit.fontawesome.com/18de66c05e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>
<body>
    <!--------head menu-->
    <div class="row">
        <div class="col head-search">
            <form action="" method="get">
                <input type="search" placeholder="Search">
            </form>
        </div>
    </div>
    <!--------head menu-->

    <!---banner -->
 <div class="row">
        <div class="col logo">logo</div>
        <div class="col banner">banner</div>
    </div>
     <!---banner -->

<!--main menu-->
<div class="row">
    <div class="col menubar">

        <ul>
            <li><a href="{% url 'blog:index' %}"><i class="fa-solid fa-house">&nbsp;</i>Home</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Politic</a></li>
            <li><a href="#">Event</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog:Profile' user.email %}">Acount</a></li>
            {% else %}
            <li><a href="{% url 'blog:SignUp' %}">Sign Up</a></li>
            {% endif %}
            
            
        </ul>
    </div>
</div>
<!--main menu-->


<!--Articlewrappet-->
<div class="Article-wrapper">
    <!--- Article -->
<div id="Article">

<div class="row">
    <!--headkines-->
    <div class="col headlines">
        <!--headline row-->
        <div class="row">

        <!--headline-sub-right-->
        {% if recent  %}
        <div class="col headline-sub-right">
            
                <img src="{{recent.Article_pic.url}}">
            <span style="padding: 20px; font-weight:bold;font-size:18px;"><a href="{% url 'blog:details' recent.headlines  %}">{{recent.headlines|title}}</a></span>
                <p style="padding-left:18px;">Posted: &nbsp;&nbsp;{{recent.pub_date|naturaltime|title}}</p>
        </div>
        {% else %}
        <p>No article publish yet</p>
        {% endif %}
    
        <!--headline-sub-right-->

        <!--headline-sub-left-->
        {% if recent2 %}
        {% for recent2 in  recent2  %}
        <div class="col headline-sub-left">
            <div class="sub-left">
                <img src="{{recent2.Article_pic.url}}">
                <span style="padding: 20px; font-weight:bold;font-size:18px;"><a href="{% url 'blog:details' recent2.headlines  %}">{{recent2.headlines|title}}</a></span>
                <br/>
                <span style="padding: 20px;">{{recent2.username}} Posted: &nbsp;&nbsp;{{recent2.pub_date|naturaltime|title}}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No article publish yet</p>
        {% endif %}
        <!--headline-sub-left-->
       
    </div>
    <!--headline in row-->
    <!--latest-->
    <p style="padding-left: 30px;">Latest Article</p>
    <hr class="ArtHlatest">
    {% if Article %}
    {% for earliest in Article %}
    <div class="col latest">
        <span><img src="{{earliest.Article_pic.url}}" width="100" height="140" id="img">
            <br>
           <span style="padding: 20px; font-weight:bold;font-size:18px;"> <a href="{% url 'blog:details' earliest.headlines  %}">{{earliest.headlines|title}}</a></span>
        <br>
        <br>
        <span><img src="{{earliest.author.profile.Profile_pic.url}}" width="100" height="140" id="Auth-profile"></span>
        <br>
        <br>
           {{earliest.body}}
            <br>
            <br>
            <hr class="ArtH">
            <span>Comments {{earliest.comment_set.all.count}}</span> | Posted: &nbsp;&nbsp;<span>{{earliest.pub_date|naturaltime|title}}</span>
            </span>
            
       
    </div>
    {% endfor %}
    {% else %}
    <h3>No Article Yet </h3>
    {% endif %}
    <!--latest-->
    
    
    </div>
    <!--headkines-->

    <!--recentpost-->
    <div class="col recentpost">
        <!---post wrapper-->
        <div class="post-wrpper">
        <p>Recent Post</p>
       {% if recentArt3 %}
        {% for recentArt3 in recentArt3 %}
        <div class="R-post">
            <img src="{{recentArt3.Article_pic.url}}">
            <span style="padding: 20px; font-weight:bold;font-size:18px;"><a href="{% url 'blog:details' recentArt3.headlines  %}">{{recentArt3.headlines|title}}</a></span>
            <br/>
            <p>Posted: &nbsp;&nbsp;{{recentArt3.pub_date|naturaltime|title}}</p>
        </div>
        <hr class="recent-hr">
        
        {% endfor %}
        {% else %}
        <p>No article publish yet</p>
        {% endif %}
       
    </div>
  <!---post wrapper-->
    
    </div>
    <!--recentpost-->
   


</div>

</div>
<!--Article-->
<div class="pagination-wrapper">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>

</div>
<!--Articlewrappet-->


<!--footer-->
<div class="footer"> 
<div class="row">
    <div class="col f-logo">
        <p style="font-style: oblique;font-weight:bold; font-size:25px;">Don't Miss Out</p>
        <p>Sign up for the latest More News</p>
        <form action="" method="post">
            <input type="email" name="" id="" placeholder="E-mail Address">
            <input type="submit" value="Subscribe">
        </form>
        <div class="myLinks">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="col f-Company">
        <p style="font-style: oblique;font-weight:bold">Company</p>
        <p>DevelopWithOwolabi.com</p>
    </div>
    <div class="col f-Contact">
        <p style="font-style: oblique;font-weight:bold">Contact Me</p>
        <p>Owolabidevelop@gmail.com</p>
        <p>+2348120385367</p>
    </div>

    <div class="col f-service">
        <p style="font-style: oblique;font-weight:bold">Our Service</p>
        <p>Web Developement</p>
        <p>Advertisement</p>
        <p>Blog</p>
    </div>
</div>
<div class="f-content">
    <p style="text-align: center; padding:2px">Develop by Owolabi Akintan CopyRight Reserved 2022</p>
</div>

</div>
<!--footer-->

</body>
</html>